body {
    margin: 0px;
    background-color: black;
}

.f1 {
    margin-top: 200px;
    margin-left: 200px;
}

.f2 {
    margin-top: 200px;
    margin-left: 300px;
}

.f3 {
    margin-top: 200px;
    margin-left: 400px;
}

.f4 {
    margin-top: 300px;
    margin-left: 200px;
}

.f5 {
    margin-top: 300px;
    margin-left: 300px;
}

.f6 {
    margin-top: 300px;
    margin-left: 400px;
}