body {
    height: 100%;
    margin-top: 50vh;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    transform: translateY(-50%);
    background-color: hsl(60, 100%, 71%);
}

.tutto {
    width: 100%;
    margin: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.frecce {
    width: 100%;
    margin-bottom: 10vh;
}

.cls-1 {
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 5%;
}
